table,
table tr th,
table tr td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1rem;
    text-align: center;
    border-color: black;
    color: whitesmoke;
    background-color: royalblue;
}
table{
    margin-bottom: 1rem;

}
