table,
table tr th,
table tr td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1rem;
    text-align: center;
    border-color: black;
    color: green;
    background-image: linear-gradient(to bottom,red, yellow);
}
table{
    margin-bottom: 1rem;
}
